wikiconfig_local.py*
wikiserverconfig_local.py*
tests/wiki/
wiki/underlay/
wiki/data/edit-log
wiki/data/event-log
wiki/data/user/
wiki/data/cache/
MoinMoin/i18n/POTFILES
MoinMoin/i18n/POTFILES.in
MANIFEST
docs/_build
build
dist
*.egg-info
*.pyc
*.pyo
.eggs
.cache/
.coverage
.coverage.*
.idea/
.tox
.vagrant
.DS_Store

